.swiper-pagination-bullet {
    background-color: #dddddd !important; /* light-gray for inactive dots */
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: #9e8a78 !important; /* prime color for active dot */
    opacity: 1;
} 