@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #221B24; /* Matches 'prime-dark' */
}

::-webkit-scrollbar-thumb {
  background: #7D3C98; /* Matches 'prime' */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9A79B1; /* Matches 'second' */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7D3C98 #221B24; /* Thumb color matches 'prime', track matches 'prime-dark' */
}

#loader-wrapper {
  transition: opacity 0.5s ease-out;
}
